@charset "utf-8";

/**
 * 品牌VI识别色 - 主色, 辅色...
 */

$default-color: #242424; // 主色: 黑
$default-color-hover: #000000; // 主色: 黑

$primary-color: #23a1ec; // 辅色: 蓝
$primary-color-hover: #1c7eb8; // 辅色: 蓝

$GlobalRootEmSize: 100;